/* fonts */
@font-face {
	font-family: 'Cuprum';
	src: local('Cuprum'), local('Cuprum-Regular'),
    url('../fonts/cuprum.woff2') format('woff2'),
		url('../fonts/cuprum.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum'), local('Cuprum Bold'),
    url('../fonts/cuprumbold.woff2') format('woff2'),
    url('../fonts/cuprumbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum'), local('Regular italic'),
    url('../fonts/cuprumbolditalic.woff2') format('woff2'),
    url('../fonts/cuprumitalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'), local('PT Sans Regular'),
    url('../fonts/ptsans.woff2') format('woff2'),
    url('../fonts/ptsans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'), local('PT Sans Bold'),
    url('../fonts/ptsansbold.woff2') format('woff2'),
    url('../fonts/ptsansbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Variables */
:root {
  --basic-black-menu: #32425C;
  --basic-black: #000000;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-header-bottom: #293449;
  --white: #FFFFFF;
  --special-ylellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --focus: #5FBB2D;
  --error: #BA2732;
  --activ-white: rgba(255, 255, 255, 0.5);
  --activ-header-bottom: #161D29;
  --menu-clik: #1D2739;
  --suggestions-item-link: rgba(255, 255, 255, 0.3);
  --suggestions-hover: rgba(197,197,197, 0.3);
  --suggestions-active: rgba(169,169,169, 0.3);
  --catalog-sorting-black: rgba(0, 0, 0, 0.3);
  --input-hr: rgba(0, 0, 0, 0.0001);
  --background-popular: #F9F5F0;
  --border-items: #EAEAEA;
  --old-price: #A9A9A9;
  --servises-shadow: #405069;
  --fotter-adress: #F3F7F9;
  --modal-bottom: #F4F4F4;
  --btn-hover: #CA2C37;
  --basic-filter: #F7F3EC;
  --btn-filter-border: #E5E5E5;
  --hover-btn-shadow: #367315;
  --hover-btn-active: #518534;
  --social-icons: #212A3A;
  --toggle-filter: #ABABAB;
}

/* Global */
.page {
  height: 100%;
}

.page-body {
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}


body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
	font-style: normal;
  color: var(--basic-black);
}
* {
  box-sizing: border-box;
}

.container {
 width: 960px;
 margin: 0 auto;
 padding: 0 10px;
}

.hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 192px;
  height: 38px;
  background-color: var(--basic-red);
  text-align: center;
}

.btn:hover,
.btn:focus {
  background: var(--btn-hover);
}

.btn:active {
  background: var(--error);
}

.btn a {
  color: var(--white);
  font-size: 14px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.btn-filter {
  width: 220px;
  height: 38px;
  background: var(--white);
  border: 1px solid var(--btn-filter-border);
  font-family: PT Sans;
  font-weight: 400;
  font-size: 13px;
  align-items: center;
  text-align: center;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

header {
  margin-bottom: 59px;
}

.inner-page header {
  margin-bottom: 22px;
}

.top-header {
  height: 42px;
  width: 100%;
  background-color: var(--basic-header-bottom);
}

.top-header-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 46px;
}

.logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 47px;
  background-color:var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  text-align: center;
}

.logo-wrap:active {
  background-color:var(--error)
}




.search-wrap {
  display: flex;
  align-items: center;
  padding-left: 17px;
  width: 271px;
  height: 42px;
}

.top-header-search {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding-left: 8px;
  padding-right: 8px;
}


.top-header-search::placeholder {
  font-family: 'Cuprum';
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 1;
}

.search-wrap:focus {
  background-color: var(--white);
}

.top-header-search-icon {
  width: 17px;
  height: 17px;
}


.search-wrap:hover path {
  opacity: 1;
}

.search-wrap:active path,
.search-wrap:focus-within path {
  fill: red;
  opacity: 1;
}

.search-wrap:focus-within {
  background-color: var(--white)
}

.top-header-list {
  width: 450px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 42px;
}


.top-header-item a {
  width: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--white);
  height: 42px;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
}

.top-header-item:last-child a {
  padding-left: 0;
}

.cart-with-goods {
  background-color: var(--basic-red);
}



.top-header-item:nth-child(1) svg,
.top-header-item:nth-child(2)  svg {
  position: absolute;
  top: 13px;
  left: 19px;
  width: 15px;
  height: 15px;
}


.top-header-item:nth-child(1)  a:hover g,
.top-header-item:nth-child(2)  a:hover g {
  opacity: 1;
}

.top-header-item:nth-child(1)  a:active g,
.top-header-item:nth-child(2)  a:active g {
  opacity: 0.3;
}



.top-header-item:active {
  background-color: var(--activ-header-bottom)
}

.top-header-item:last-child {
  background-color: var(--basic-green)
}
.top-header-item:last-child:hover,
.top-header-item:last-child:focus {
  background-color: var(--focus)
}
.top-header-item:last-child:active {
  background-color: var(--basic-green);
}
.top-header-item:last-child:active a {
  color: var(--activ-white);
}

.main-header {
  padding-top: 44px;
  padding-bottom: 60px;
  min-height: 278px;
  background-color: var(--basic-background)
}

.main-header-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 299px;
}

.main-header-text {
  margin: 0;
  margin-left: 30px;
  font-style: italic;
  font-size: 15px;
  line-height: 23px;
  color: var(--basic-red);
}

.main-header-phone-wrap {
  width: 270px;
  margin-bottom: 44px;
  margin-left: 6px;
}

.main-header-phone {
  position: relative;
  display: flex;
  width: 270px;
  height: 45px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 3px solid var(--white);
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  margin-bottom: 9px;
  padding-left: 26px;
}

.main-header-phone::before {
  content: "";
  display: block;
  width: 17.51px;
  height: 18.97px;
  background-image: url(../icon/icon-phone.svg);
  position: absolute;
  left: 37px;
}

.main-header-address {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: var(--basic-black-menu);
  text-align: center;
}

.main-header-authorization {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: end;
}

.main-header-authorization li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header-login {
  width: 121px;
  height: 45px;
  background-color: var(--white);
  font-size: 21px;
  margin-right: 10px;
}

.main-header-login a,
.main-header-registration a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header-login:hover a,
.main-header-login:focus a {
  color: var(--basic-red);
}

.main-header-login:hover path,
.main-header-login:focus path {
  fill: var(--basic-grey);
}

.main-header-login:active path {
  fill: var(--basic-greylight);
}

.login-icon {
  margin-right: 6px;
}

.main-header-login:active a {
  color: var(--basic-greylight)
}

.main-header-registration:hover a,
.main-header-registration:focus a {
  color: var(--basic-red);
}

.main-header-registration:active a {
  color: var(--basic-greylight);
}

.main-header-registration {
  width: 150px;
  height: 45px;
  background-color: var(--white);
  font-size: 21px;
}

.main-header-authorization a {
  color: var(--basic-black);
}



.user {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  background-color: var(--white);
  font-size: 21px;
  color: var(--basic-black);
  margin-bottom: 9px;
}

.user::before {
  position: absolute;
  top: 12px;
  left: 15px;
  content: "";
  display: block;
  width: 20px;
  height: 18px;
  background-image: url(../icon/icon-user.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user::after {
  content: "";
  position: absolute;
  top: 13;
  right: 17px;
  display: block;
  width: 20px;
  height: 18px;
  background-image: url(../icon/icon-login.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user:hover::before,
.user:focus::before,
.user:hover::after,
.user:focus::after {
  opacity: 1;
}

.user:active {
  color: var(--basic-greylight);
}

.user:active::before,
.user:active::after {
  opacity: 0.3;
}

.orders-account {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding-left: 28px;
  padding-right: 28px;
}

.orders-account-dot::after {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: 134px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: linear-gradient(0deg, #32425C, #32425C), #FFFFFF;
}

.orders-account a {
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  color: var(--basic-black-menu);
}

.orders-account a:hover,
.orders-account a:focus {
  color: var(--basic-red);
}

.orders-account a:active {
  opacity: 0.3;
}

.main-header-nav {
  grid-column: 1/-1;
  background-color: var(--basic-black-menu);
  box-shadow: inset 0px -5px 0px var(--basic-header-bottom);
}

.main-header-nav a {
  color: var(--white);
  font-size: 18px;
  line-height: 24px;
}

.main-header-nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60px;
  padding-right: 25px;
  padding-left: 25px;
}


.main-header-nav-list li {
  height: 60px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header-nav-list li a {
  height: 60px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header-nav-list li:hover,
.main-header-nav-list li:focus {
  background-color: var(--basic-header-bottom);
}

.main-header-nav-list li:active {
  background-color: var(--menu-clik);
  box-shadow: inset 0px -5px 0px var(--basic-header-bottom);
}

.main-header-nav-list li:active a {
  color: #FFFFFF;
  opacity: 0.5;
}


.suggestions {
  margin-bottom: 59px;
}

.suggestions-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.suggestions > h2 {
  grid-column: 1/-1;
}
.suggestions-list {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.suggestions-list,
.suggestions-list-col {
  display: grid;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.suggestions-list h3,
.suggestions-list-col h3 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
}

.suggestions-item-link {
  width: 135px;
  height: 38px;
  background-color: var(--suggestions-item-link);
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  font-size: 14px;
}

.suggestions-item-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--white);
  font-size: 14px;
}

.suggestions-item-link:hover {
  background-color: var(--suggestions-hover);
}

.suggestions-item-link:active {
  background-color: var(--suggestions-active);
}

.suggestions-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 123px;
  padding: 24px;
  background-repeat: no-repeat;
  background-position: right 40px center;
}

.suggestions-item-material {
  background-color: var(--special-ylellow);
  background-image: url(../icon/icon-bucket.svg);
}

.suggestions-item-tool {
  background-image: url(../icon/icon-drill.svg);
  background-color: var(--special-blue);
}

.suggestions-item-technics {
  background-color: var(--special-lilac);
  background-image: url(../icon/icon-tractor.svg);
}

.slider {
  position: relative;
  grid-column: 1/2;
  width: 620px;
  height: 266px;
  background-color: var(--basic-greylight);
}

.slider-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slider-item {
  position: relative;
}

.slider-item h3 {
  position: absolute;
  top: 23px;
  left: 24px;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  color: var(--white);
  margin: 0;
}

.slider-item p {
  position: absolute;
  top: 64px;
  left: 24px;
  font-size: 18px;
  color: var(--white);
  margin: 0;
}

.btn-slider {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 25px;
  left: 25px;
  text-transform: uppercase;
  color: var(--white);
  text-transform: uppercase;
}

.slider-button-left,
.slider-button-right {
  position: absolute;
  width: 22px;
  height: 40px;
  top: 122px;
  left: 24px;
  border: none;
  background: transparent;
  background-image: url(../icon/icon-left.svg);
  cursor: pointer;
}

.slider-button-right {
  left: auto;
  right: 24px;
  transform: rotate(180deg);
}

.slider-pagination {
  position: absolute;
  bottom: 36px;
  left: 50%;
}

.slider-pagination button {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
}

.slider-pagination .current-slide {
  background-color: var(--basic-red);
}

.suggestions {
  margin-bottom: 59px;
}

.suggestions-item-discount {
  background-color: var(--special-greenlight);
  background-image: url(../icon/icon-shopping-cart.svg);
}

.suggestions-item-delivery {
  background-color: var(--special-ylellow);
  background-image: url(../icon/icon-car.svg);
}

.popular {
  margin-bottom: 70px;
}

.popular-wrap {
  height: 89px;
  background-color: var(--background-popular);
  margin-bottom: 20px;
  padding-left: 14px;
  padding-right: 28px;
}

.popular-wrap-layout {
 display: grid;
 align-items: center;
 grid-template-columns: 1fr min-content;
}

.title {
  font-size: 30px;
  text-transform: uppercase;
  color: var(--basic-black-menu);
}

.popular-list,
.popular-item-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.popular-item-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 48px;
}

.popular-list-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.popular-item,
.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 21px 10px;
  border: 1px solid #EAEAEA;
  width: 220px;
  min-height: 318px;
}

.popular-item-new::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  background-image: url(../icon/catalog-new.svg);
  background-repeat: no-repeat;
  z-index: 1;
}

.popular-item-img {
  display: flex;
  height: 162px;
  align-items: center;
  justify-content: center;
}

.popular-item:hover {
  box-shadow: 0 10px 25px 0 rgb(41 52 73 / 50%);
}

.popular-item:hover img {
  display: none;
}

.popular-list-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  min-height: 117px;
}

.popular-item p,
.catalog-item p {
  font-family: PT Sans;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: var(--basic-black);
  margin: 0;
}

.popular-item span,
.catalog-item span {
  font-family: PT Sans;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: #A9A9A9;
}
.popular-item-hover-list {
  display: none;
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

.popular-item:hover .popular-item-hover-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popular-item-hover-buy-btn {
  position: relative;
  width: 135px;
  height: 38px;
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--hover-btn-shadow);
  border-radius: 2px;
  text-align: center;
  margin-bottom: 10px;
}

.popular-item-hover-buy-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--white);
}

.popular-item-hover-buy-btn a::before {
  content: "";
  position: absolute;
  left: 25px;
  top: 10px;
  width: 15px;
  height: 15px;
  background-image: url(../icon/icon-cart.svg);
  opacity: 0.3;
}

.popular-item-hover-buy-btn:hover,
.popular-item-hover-buy-btn:focus {
 background-color: var(--focus);
}

.popular-item-hover-buy-btn:active {
  background-color: var(--hover-btn-active);
}

.popular-item-hover-bookmark-btn {
  width: 135px;
  height: 38px;
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  text-align: center;
}

.popular-item-hover-bookmark-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--basic-black-menu);
}

.popular-item-hover-bookmark-btn:hover,
.popular-item-hover-bookmark-btn:focus {
  border: 3px solid var(--basic-black-menu);
}

.popular-item-hover-bookmark-btn:active {
  border: 3px solid var(--basic-greylight);
}

.popular-item-hover-bookmark-btn:active a {
  color: var(--basic-greylight);
}

.btn-price,
.btn-price:hover {
  width: 141px;
  height: 38px;
  background-image: url(../icon/red-button.svg);
  background-color: transparent;

}

.btn-price a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-family: PT Sans;
  font-weight: 700;
  font-size: 17px;
}


.manufacturers-wrap {
  height: 89px;
  background-color: var(--background-popular);
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
  padding-left: 28px;
  padding-right: 14px;
  margin-bottom: 20px;
}

.manufacturers-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 70px;
}


.manufacturers-item {
  border: 1px solid var(--border-items);
  display: flex;
  justify-content: center;
  align-items: center;
}

.manufacturers-item:hover {
  box-shadow: 0 0px 10px 0 rgb(41 52 73 / 50%);
}

.manufacturers-item:active {
  box-shadow: 0 0px 10px 0 rgb(41 52 73 / 50%);
  opacity: 0.3;
}

.services {
  background-color: var(--basic-background);
  padding-top: 64px;
  padding-bottom: 54px;
}

.services-slider {
  display: flex;
  min-height: 279px;
}


.services h2 {
  font-size: 30px;
  text-transform: uppercase;
  grid-column: 1/-1;
  margin: 0;
  margin-bottom: 23px;
}

.services-text {
  font-family: PT Sans;
  font-weight: 400;
  font-size: 13px;
  margin: 0;
  margin-bottom: 25px;
  line-height: 23px;
}


.services-list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.services-list::before {
  content: "";
  width: 26px;
  box-shadow: -10px 0px 12px -8px #000;
  height: 100%;
  right: -25px;
  top: 0;
  border-radius: 61%;
  z-index: 1;
  background-color: var(--basic-background);
  position: absolute;
}
.services-list::after {
  content: "";
  width: 26px;
  height: 110%;
  right: -25px;
  top: -15px;
  z-index: 2;
  background-color: var(--basic-background);
  position: absolute;
}

.services-slider-btn {
  display: flex;
  align-items: center;
  width: 240px;
  height: 61px;
  padding-left: 22px;
  background: var(--basic-black-menu);
  box-shadow: 0px 1px 0px var(--basic-header-bottom), inset 0px 1px 0px var(--servises-shadow);
  font-size: 21px;
  color: var(--white);
  border: none;
  cursor: pointer;
}

.services-slider-btn:hover,
.services-slider-btn:focus {
  background: var(--basic-header-bottom);
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;}


.services-slider-btn:active {
  background-color: var(--white);
  box-shadow: 0px 1px 0px var(--white);
  color: var(--basic-black-menu);
}



.services-descr-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-grow: 1;
  align-self: center;
}

.services-descr-item {
  min-height: 185px;
  margin-left: 80px;
}

.services-descr-item-delivery {
  background-image: url(../img/delivery.png);
  background-position: right 17px;
  background-repeat: no-repeat;
}

.services-descr-item-guarantee {
  background-image: url(../img/guarantee.png);
  background-position: right center;
  background-repeat: no-repeat;
}

.services-descr-item-credit {
  background-image: url(../img/credit.png);
  background-position: right center;
  background-repeat: no-repeat;
}

.services-descr-item h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: var(--basic-black-menu);
  margin-bottom: 24px;
}

.services-descr-item p {
  font-family: PT Sans;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
}


.btn-credit {
  width: 195px;
  height: 38px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  border-radius: 3px;
  border: none;
}
.delivery {
  padding-top: 70px;
  padding-bottom: 70px;
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 150px;
}

.delivery h2 {
  margin: 0;
  margin-bottom: 23px;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  grid-column: 1/-1;
}

.delivery-about {
  padding-right: 10px;
}

.delivery p {
  font-family: PT Sans;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.delivery-text {
  margin-bottom: 26px;
}

.delivery-descr {
  margin: 0px;
  margin-bottom: 2px;
  line-height: 20;
}

.delivery-list {
  margin: 0;
  padding: 0;
  padding-left: 37px;
  line-height: 23px;
  margin-bottom: 22px;
  list-style: none;
}

.delivery-list li {
  position: relative;
  margin-bottom: 12px;
  font-size: 18px;
}

.delivery-list li::before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  left: -37px;
  top: 11px;
}

.btn-delivery {
  width: 220px;
  height: 38px;
}

.delivery-contacts p {
 margin-bottom: 31px;
}

.btn-delivery-contacts {
  width: 300px;
  height: 38px;
}

.img-map {
  margin-bottom: 22px;
}

.top-footer {
  background-color: var(--basic-black-menu);
  min-height: 193px;
}

.top-footer-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.top-footer-layout > h2 {
  grid-column: 1/-1;
}

.logo-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 68px;
}


.top-footer-nav {
  grid-column: 2/-1;
  padding-top: 38px;
}

.top-footer-nav-list  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
}

.top-footer-nav-list li {
  margin-left: 58px;
}

.top-footer-nav-list a {
  font-size: 18px;
  color: var(--basic-background);
}

.top-footer-wrap {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 333px 1fr;
}

.top-footer-address-wrap {
  padding-top: 26px;
}

.top-footer-address {
  font-size: 18px;
  color: var(--fotter-adress);
  margin: 0;
  margin-bottom: 5px;
}

.top-footer-phone {
  font-size: 18px;
  color: var(--fotter-adress);
}

.top-footer-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
  padding-top: 31px;
}

.top-footer-list li {
  margin-left: 60px;
}

.top-footer-list a {
  font-size: 18px;
  color: var(--special-yellowlight);
}

.top-footer-nav-list li:hover a,
.top-footer-nav-list li:focus a,
.top-footer-list li:hover a,
.top-footer-list li:focus a {
  text-decoration-line: underline;
}

.top-footer-nav-list li:active a,
.top-footer-nav-list li:active a,
.top-footer-list li:active a,
.top-footer-list li:active a {
  opacity: 0.5;
  text-decoration-line: none;
}

.bottom-footer {
  min-height: 107px;
  padding-top: 33px;
  background-color: var(--basic-header-bottom);
}

.bottom-footer p {
  margin: 0;
}

.bottom-footer-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-footer-copyrite {
  font-size: 16px;
  color: var(--white);
}

.bottom-footer-social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 134px;
  justify-self: center;
  margin-left: 42px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--social-icons);
}

.social-button:hover,
.social-button:active {
  background-color: var(--basic-red);
}

.feedback-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.feedback {
    justify-self: center;
    align-self: center;
}

.feedback p {
  font-size: 16px;
  color: var(--white)
}

.feedback a {
  font-size: 16px;
  color: var(--special-yellowlight)
}

.feedback a:active,
.developed a:active {
  color: var(--basic-red);
}

.developed {
  justify-self: center;
  align-self: center;
  padding-right: 13px;
}

.developed p {
  font-size: 16px;
  color: var(--white)
}

.developed a {
  font-size: 16px;
  color: var(--special-yellowlight)
}

.modal {
  width: 620px;
  height: 430px;
  border: 1px solid var(--old-price);
}

.feedback-form {
  font-size: 18px;
  color: var(--basic-black);
}

.modal-head {
  width: 100%;
  height: 7px;
  background-color: var(--basic-red)
}

.modal-bottom {
  width: 100%;
  height: 112px;
  background-color: var(--modal-bottom)
}

.btn-modal {
  width: 460px;
  height: 38px;
  color: var(--white);
  text-transform: uppercase;
}


/* catalog */
.breadcrumbs {
  list-style-type: none;
  grid-column: 1/-1;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 41px;
}

.breadcrumbs-item::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  right: -27px;
  width: 8px;
  height: 12px;
  background-image: url(../icon/icon-right-small.svg);
  background-repeat: no-repeat;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

 .breadcrumbs-item a {
  font-family: PT Sans;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  color: var(--basic-black);
 }

 .breadcrumbs-current::after {
  display: none;
 }

 .catalog-title-wrap {
  height: 89px;
  background: var(--basic-background);
  grid-column: 1/-1;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 29px;
}

.catalog-title {
  font-size: 29px;
  text-transform: uppercase;
  color: var(--basic-black-menu);
  margin: 0;
}


.filter {
  grid-column: 1/2;
}

.filter-line {
  height: 1px;
  background-color: var(--border-items);
  margin-bottom: 18px;
}

.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
}


.filter-title {
  background-color: var(--basic-filter);
  height: 38px;
  display: flex;
  align-items: center;
  padding-left: 18px;
  margin-bottom: 19px;
  border-radius: 3px;
}

.filter-title p {
  font-family: PT Sans;
  font-weight: 400;
  font-size: 13px;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0;
}


.filter legend {
  font-family: PT Sans;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-bottom: 16px;
}

/* .filter-range-fieldset  legend {
  margin-bottom: 11px;
}

.filter-range-wrap {
  background-color: var(--basic-filter);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 9px;
  border-radius: 3px;

}

.filter-range-text-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}


.filter-range-text-item {
  display: block;
  width: 95px;
  height: 38px;
  background-color: var(--basic-filter);
  border: none;
  border-radius: 3px;
  text-align: center;
  outline: none;
}

.filter-range-text-- {
  width: 10px;
  height: 1px;
  background-color: var(--basic-black);
} */


/* range-filter */

.range-filter {
  width: 220px;
}

.range-controls {
  position: relative;
  background-color: var(--basic-filter);
  height: 80px;
  padding-top: 39px;
  margin-bottom: 9px;
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;

}

.range-controls .scale {
  height: 2px;
  background-color: var(--basic-greylight);
}

.range-controls .bar {
  width: 70%;
  height: 100%;
  background-color: var(--basic-green);
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 8px solid var(--white);
  background-color: var(--toggle-filter);
  box-sizing: content-box;
  box-shadow: 0 2px 2px 0 var(--toggle-filter);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  right: 73px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.price-controls input {
  display: block;
  width: 95px;
  height: 38px;
  background-color: var(--basic-filter);
  border: none;
  border-radius: 3px;
  text-align: center;
  outline: none;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
}

.price-controls-dash {
  width: 10px;
  height: 1px;
  background-color: var(--basic-black);
}

.checkbox-manufacturers-fieldset legend {
  margin-bottom: 27px;
}

.filter .checkbox-manufacturers-fieldset {
  margin-bottom: 26px;
}

/* .checkbox-manufacturers {
  margin-bottom: 16px;
} */

.checkbox-manufacturers:last-child {
  margin-bottom: 26px;
}

.checkbox-manufacturers-label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  font-family: PT Sans;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--basic-black);
  padding-left: 37px;
  margin-bottom: 3px;
}

.checkbox-manufacturers + .checkbox-manufacturers-label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 1px;
  width: 19px;
  height: 19px;
  border: 2px solid var(--basic-greylight);
  border-radius: 3px;
}

.checkbox-manufacturers:checked + .checkbox-manufacturers-label::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 4px;
  width: 21.72px;
  height: 16.76px;
  background-image: url(../icon/checkbox-mark.svg);
  background-repeat: no-repeat;
}

.checkbox-manufacturers-line {
  margin-bottom: 23px;
}

.power-radiobtn-fieldset legend {
  margin-bottom: 29px;
}

.power-radiobtn-wrap {
  margin-bottom: 24px;
}

.power-radiobtn-wrap:last-child {
  margin-bottom: 39px;
}

.power-radiobtn-label {
  position: relative;
  font-family: PT Sans;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-left: 35px;
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.power-radiobtn + .power-radiobtn-label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;
  width: 17px;
  height: 17px;
  border: 4px solid var(--basic-greylight);
  border-radius: 50%;
}

.power-radiobtn:checked + .power-radiobtn-label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -27px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--basic-greylight);
}

.catalog-items {
  grid-column: 2/-1;
}

.catalog-items-sorting-wrap {
  background-color: var(--basic-filter);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
  padding-left: 19px;
  padding-right: 14px;
  margin-bottom: 28px;
}

.catalog-items-sorting-wrap h2 {
  margin: 0;
}

.catalog-items-sorting-list {
  margin: 0;
  padding: 0;
  width: 355px;
  display: flex;
  justify-content: space-between;
}

.catalog-items-sorting-wrap h2 {
  font-family: PT Sans;
  font-weight: 400;
  font-size: 12px;
  color: var(--basic-black);
  text-transform: uppercase;
  margin-right: 101px;
}

.catalog-items-sorting-list {
  list-style-type: none;
}

.catalog-items-sorting-item a {
  font-family: PT Sans;
  font-weight: 400;
  font-size: 13px;
  color: var(--catalog-sorting-black);
  text-transform: uppercase;
  border-bottom: 1px dotted var(--basic-red);

}

.catalog-items-sorting-item:hover a,
.catalog-items-sorting-item:focus a {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.catalog-items-sorting-item-activ a {
  color: var(--basic-red);
  border-bottom: none;
}

.sort-arr-wrap {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45px;
}

.sort-arr:hover path ,
.sort-arr:focus path {
  fill: var(--basic-black);
}

.sort-arr-active path {
  fill: var(--basic-red);
}

.pagination-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 39px;
}

.pagination-item {
  margin-right: 20px;
}

.pagination-item a {
  font-family: PT Sans;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
}


.about-perforators {
  background-color: var(--basic-background);
  min-height: 261px;
  padding-top: 64px;
  padding-bottom: 68px;
}
.about-perforators h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.about-perforators p {
  font-family: PT Sans;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.add-to-cart-list {
  list-style-type: none;
}

.add-to-cart p {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: var(--basic-black);
}


.modal-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.feedback-text-wrap {
  grid-column: 1/-1;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.Feedback-name-wrap {
  display: grid;
  grid-template-rows: min-content min-content;
}

.feedback-mail-wrap {
  display: grid;
  grid-template-rows: min-content min-content;
}

.modal-bottom {
  grid-column: 1/-1;
}

.catalog-grid {
  display: grid;
  grid-template-columns: 220px 1fr 1fr 1fr;
  gap: 20px;
}
