/* fonts */
@font-face {
	font-family: 'Cuprum';
	src: local('Cuprum'), local('Cuprum-Regular'),
    url('../fonts/cuprum.woff2') format('woff2'),
		url('../fonts/cuprum.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum'), local('Cuprum Bold'),
    url('../fonts/cuprumbold.woff2') format('woff2'),
    url('../fonts/cuprumbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum'), local('Regular italic'),
    url('../fonts/cuprumbolditalic.woff2') format('woff2'),
    url('../fonts/cuprumitalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'), local('PT Sans Regular'),
    url('../fonts/ptsans.woff2') format('woff2'),
    url('../fonts/ptsans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'), local('PT Sans Bold'),
    url('../fonts/ptsansbold.woff2') format('woff2'),
    url('../fonts/ptsansbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Variables */
:root {
  --basic-black-menu: #32425C;
  --basic-black: #000000;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-header-bottom: #293449;
  --white: #FFFFFF;
  --special-ylellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --focus: #5FBB2D;
  --error: #BA2732;
  --activ-white: rgba(255, 255, 255, 0.5);
  --activ-header-bottom: #161D29;
  --menu-clik: #1D2739;
  --suggestions-item-link: rgba(255, 255, 255, 0.3);
  --suggestions-hover: rgba(197,197,197, 0.3);
  --suggestions-active: rgba(169,169,169, 0.3);
  --catalog-sorting-black: rgba(0, 0, 0, 0.3);
  --background-popular: #F9F5F0;
  --border-items: #EAEAEA;
  --old-price: #A9A9A9;
  --servises-shadow: #405069;
  --fotter-adress: #F3F7F9;
  --modal-bottom: #F4F4F4;
  --btn-hover: #CA2C37;
  --basic-filter: #F7F3EC;
  --btn-filter-border: #E5E5E5;
  --hover-btn-shadow: #367315;
  --hover-btn-active: #518534;
}

/* Global */
body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
	font-style: normal;
  color: var(--basic-black);
}

.btn {
  width: 192px;
  height: 38px;
  background-color: var(--basic-red);
  text-align: center;
}

.btn:hover,
.btn:focus {
  background: var(--btn-hover);
}

.btn:active {
  background: var(--error);
}

.btn a {
  color: var(--white);
  font-size: 14px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.btn-filter {
  width: 220px;
  height: 38px;
  background: var(--white);
  border: 1px solid var(--btn-filter-border);
  font-family: PT Sans;
  font-weight: 400;
  font-size: 13px;
  align-items: center;
  text-align: center;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.top-header {
  min-height: 42px;
  width: 100%;
  background-color: var(--basic-header-bottom);
}

.logo-wrap {
  width: 220px;
  height: 47px;
  background-color:var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  text-align: center;
}

.logo-wrap:active {
  background-color:var(--error)
}

.logo-wrap img {
  margin-top: 13px;
}

.top-header-search {
  background-color: transparent;
  border: none;
  outline: none;
}
.search-wrap {
width: 271px;
height: 42px;
}

.search-wrap:hover,
.search-wrap:focus {
  background-color: var(--white)
}


.top-header-search-icon img {
  width: 17px;
  height: 17px;
}

.top-header-list {
  margin: 0;
  list-style-type: none;
}
.cart-with-goods {
  background-color: var(--basic-red);
}

.top-header-item a {
  color: var(--white);
}

.top-header-list li {
  width: 150px;
  height: 42px;
}

.top-header-item:active {
  background-color: var(--activ-header-bottom)
}

.top-header-item:last-child {
  background-color: var(--basic-green)
}
.top-header-item:last-child:hover,
.top-header-item:last-child:focus {
  background-color: var(--focus)
}
.top-header-item:last-child:active {
  background-color: var(--basic-green);
}
.top-header-item:last-child:active a {
  color: var(--activ-white);
}

.main-header {
  padding: 1px;
  min-height: 278px;
  background-color: var(--basic-background)
}

.main-header-text {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.main-header-phone-wrap {
  border: 3px solid var(--white);
}

.main-header-phone {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
}

.main-header-addres {
  font-size: 14px;
  color: var(--basic-black-menu)
}

.main-header-authorization {
  list-style-type: none;
}

.main-header-login {
  width: 121px;
  height: 45px;
  background-color: var(--white);
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.main-header-login:hover a,
.main-header-login:focus a {
  color: var(--basic-red);
}

.main-header-login:active a {
  color: var(--basic-greylight)
}

.main-header-registration:hover a,
.main-header-registration:focus a {
  color: var(--basic-red);
}

.main-header-registration:active a {
  color: var(--basic-greylight);
}

.main-header-registration {
  width: 150px;
  height: 45px;
  background-color: var(--white);
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.main-header-authorization a {
  color: var(--basic-black);
}

.user {
  background-color: var(--white);
}

.user a {
  font-size: 21px;
  text-align: center;
  color: var(--basic-black);
}

.orders-account a {
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  color: var(--basic-black-menu);
}

.main-header-nav {
  background-color: var(--basic-black-menu);
  box-shadow: inset 0px -5px 0px var(--basic-header-bottom);
}

.main-header-nav a {
  color: var(--white);
  font-size: 18px;
  line-height: 24px;
}

.main-header-nav-list {
  list-style-type: none;
}

.main-header-nav-list li:hover,
.main-header-nav-list li:focus {
  background-color: var(--basic-header-bottom);
}

.main-header-nav-list li:active {
  background-color: var(--menu-clik);
  box-shadow: inset 0px -5px 0px var(--basic-header-bottom);
}

.main-header-nav-list li:active a {
  color: #FFFFFF;
  opacity: 0.5;
}


.suggestions-list,
.suggestions-list-col {
  list-style-type: none;
}

.suggestions-list h3,
.suggestions-list-col h3 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
}

.suggestions-item-link {
  width: 135px;
  height: 38px;
  background-color: var(--suggestions-item-link);
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.suggestions-item-link a {
  color: var(--white);
  font-size: 14px;
}

.suggestions-item-link:hover {
  background-color: var(--suggestions-hover);
}

.suggestions-item-link:active {
  background-color: var(--suggestions-active);
}

.suggestions-item-material {
  width: 300px;
  height: 123px;
  background-color: var(--special-ylellow);
}

.suggestions-item-tool {
  width: 300px;
  height: 123px;
  background-color: var(--special-blue);
}

.suggestions-item-technics {
  width: 300px;
  height: 123px;
  background-color: var(--special-lilac);
}

.slider {
  padding: 1px;
  background-color: var(--basic-greylight)
}

.slider-list {
  list-style-type: none;
}

.slider-item h3 {
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  color: var(--white);
}

.slider-item p {
  font-size: 18px;
  color: var(--white);
}

.suggestions-item-discount {
  width: 300px;
  height: 123px;
  background-color: var(--special-greenlight);
}

.suggestions-item-delivery {
  width: 300px;
  height: 123px;
  background-color: var(--special-ylellow);
}

.popular-wrap {
  height: 89px;
  background-color: var(--background-popular);
}

.title {
  font-size: 30px;
  text-transform: uppercase;
  color: var(--basic-black-menu);
}

.popular-list,
.popular-item-list {
  list-style-type: none;
}

.popular-item,
.catalog-item {
  border: 1px solid #EAEAEA;
}

.popular-item p,
.catalog-item p {
  font-family: PT Sans;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: var(--basic-black);
}

.popular-item span,
.catalog-item span {
  font-family: PT Sans;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: #A9A9A9;
}
.popular-item-hover-list {
  list-style-type: none;
}

.popular-item-hover-buy-btn {
  width: 135px;
  height: 38px;
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--hover-btn-shadow);
  border-radius: 2px;
  text-align: center;
}

.popular-item-hover-buy-btn a {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--white);
}

.popular-item-hover-buy-btn:hover,
.popular-item-hover-buy-btn:focus {
 background-color: var(--focus);
}

.popular-item-hover-buy-btn:active {
  background-color: var(--hover-btn-active);
}

.popular-item-hover-bookmark-btn {
  width: 129px;
  height: 38px;
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  text-align: center;
}

.popular-item-hover-bookmark-btn a {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--basic-black-menu);
}

.popular-item-hover-bookmark-btn:hover,
.popular-item-hover-bookmark-btn:focus {
  border: 3px solid var(--basic-black-menu);
}

.popular-item-hover-bookmark-btn:active {
  border: 3px solid var(--basic-greylight);
}

.popular-item-hover-bookmark-btn:active a {
  color: var(--basic-greylight);
}

.btn-price {
  width: 141px;
  height: 38px;
}

.btn-price a {
  font-family: PT Sans;
  font-weight: 700;
  font-size: 17px;
}


.manufacturers-wrap {
  height: 89px;
  background-color: var(--background-popular);
}

.manufacturers-list {
  list-style-type: none;
}

.manufacturers-item {
  border: 1px solid var(--border-items);
}

.services {
  padding: 1px;
  background-color: var(--basic-background);
}

.services h2 {
  font-size: 30px;
  text-transform: uppercase;
}

.services-text {
  font-family: PT Sans;
  font-weight: 400;
  font-size: 13px;
}

.services-list {
  list-style-type: none;
}

.services-list li {
  width: 240px;
  height: 61px;
  background: var(--basic-black-menu);
  box-shadow: 0px 1px 0px var(--basic-header-bottom), inset 0px 1px 0px var(--servises-shadow);
}

.services-list li:hover,
.services-list li:focus {
  background: var(--basic-header-bottom);
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;}

.services-list a {
  font-size: 21px;
  color: var(--white);
}
.services-list li:active {
  background-color: var(--white);
  box-shadow: 0px 1px 0px var(--white);
}

.services-list li:active a {
  color: var(--basic-black-menu);
}

.services-descr-item h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: var(--basic-black-menu);
}

.services-descr-item p {
  font-family: PT Sans;
  font-weight: 400;
  font-size: 13px;
  color: var(--basic-black);
}


.btn-credit {
  width: 195px;
  height: 38px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  border-radius: 3px;
  border: none;
}

.delivery h2 {
  font-size: 30px;
  text-transform: uppercase;
}

.delivery p {
  font-family: PT Sans;
  font-weight: 400;
  font-size: 13px;
}

.delivery-list li {
  font-size: 18px;
}

.btn-delivery {
  width: 220px;
  height: 38px;
}

.btn-delivery-contacts {
  width: 300px;
  height: 38px;
}

.top-footer {
  background-color: var(--basic-black-menu);
}

.logo-bottom {
  width: 220px;
  height: 68px;
}

.top-footer-nav-list  {
  list-style-type: none;
}

.top-footer-nav-list a {
  font-size: 18px;
  color: var(--basic-background);
}

.top-footer-address {
  font-size: 18px;
  color: var(--fotter-adress);
}

.top-footer-phone {
  font-size: 18px;
  color: var(--fotter-adress);
}

.top-footer-list {
  list-style-type: none;
}

.top-footer-list a {
  font-size: 18px;
  color: var(--special-yellowlight);
}

.top-footer-nav-list li:hover a,
.top-footer-nav-list li:focus a,
.top-footer-list li:hover a,
.top-footer-list li:focus a {
  text-decoration-line: underline;
}

.top-footer-nav-list li:active a,
.top-footer-nav-list li:active a,
.top-footer-list li:active a,
.top-footer-list li:active a {
  opacity: 0.5;
  text-decoration-line: none;
}

.bottom-footer {
  padding: 1px;
  background-color: var(--basic-header-bottom)
}

.bottom-footer-copyrite {
  font-size: 16px;
  color: var(--white);
}

.bottom-footer-social-list {
  list-style-type: none;
}

.feedback p {
  font-size: 16px;
  color: var(--white)
}

.feedback a {
  font-size: 16px;
  color: var(--special-yellowlight)
}

.feedback a:active,
.developed a:active {
  color: var(--basic-red);
}

.developed p {
  font-size: 16px;
  color: var(--white)
}

.developed a {
  font-size: 16px;
  color: var(--special-yellowlight)
}

.modal {
  width: 620px;
  height: 430px;
  border: 1px solid var(--old-price);
}

.feedback-form {
  font-size: 18px;
  color: var(--basic-black);
}

.modal-head {
  width: 100%;
  height: 7px;
  background-color: var(--basic-red)
}

.modal-bottom {
  width: 100%;
  height: 112px;
  background-color: var(--modal-bottom)
}

.btn-modal {
  width: 460px;
  height: 38px;
  color: var(--white);
  text-transform: uppercase;
}


/* catalog */
.breadcrumbs {
  list-style-type: none;
}

 .breadcrumbs-item a {
  font-family: PT Sans;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  color: var(--basic-black);
 }

 .catalog-title-wrap {
  height: 89px;
  background: var(--basic-background);
}

.catalog-title {
  font-size: 30px;
  text-transform: uppercase;
  color: var(--basic-black-menu)}


.filter-title {
  background-color: var(--basic-filter);
}

.filter-title p {
  font-family: PT Sans;
  font-weight: 400;
  font-size: 13px;
  color: var(--basic-black);
  text-transform: uppercase;
}


.filter legend {
  font-family: PT Sans;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filter-range-wrap {
  background-color: var(--basic-filter);
}

.filter-range-text-item {
  background-color: var(--basic-filter);
}

.checkbox-manufacturers-label {
  font-family: PT Sans;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.power-radiobtn-label {
  font-family: PT Sans;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--basic-black);
}


.catalog-items-sorting-wrap {
  background-color: var(--basic-filter);
}

.catalog-items-sorting-wrap h2 {
  font-family: PT Sans;
  font-weight: 400;
  font-size: 13px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.catalog-items-sorting-list {
  list-style-type: none;
}

.catalog-items-sorting-item a {
  font-family: PT Sans;
  font-weight: 400;
  font-size: 13px;
  color: var(--catalog-sorting-black);
  text-transform: uppercase;
}

.catalog-items-sorting-item:hover a,
.catalog-items-sorting-item:focus a {
  color: var(--basic-black);
}

.catalog-items-sorting-item-activ a {
  color: var(--basic-red);
}
.pagination-list {
  list-style-type: none;
}

.pagination-item a {
  font-family: PT Sans;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
}


.about-perforators {
  background-color: var(--basic-background);
}
.about-perforators h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.about-perforators p {
  font-family: PT Sans;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.add-to-cart-list {
  list-style-type: none;
}

.add-to-cart p {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: var(--basic-black);
}
